<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new post</title>
    <style>
    </style>
</head>
<body>
    <form method="post" action="/post">
        <br>
        <label for="user">Enter usernmae:</label>
        <input placeholder="enter username" name="username" id="user"><br>
        <br>
        <label for="content"> enter content:</label>
        <textarea placeholder="enter content" name="content" id="content">
        </textarea>
        <br>
        <button> Submit </button>
    </form>
    
</body>
</html>