<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getting random dice number</title>
</head>
<body>
  <h1>you got a number :
     <%=
     diceVal
    %>
    <% if(diceVal == 6){%>
        <h2>Nice! Roll dice Again</h2>
        <% }%>
</h1>
</body>
</html>
