<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        Add new Chat-
    </h1>
    <form method="post" action="/chat">
        <label for="from" > From : </label>
        <input type="text" placeholder="who are you?" name="from" id="from"><br><br>

        <label for="msg"></label>
        <textarea placeholder="enter message want to send" id="msg" name="msg" > </textarea><br><br>

        <label for="to" > To : </label>
        <input type="text" placeholder="add reciver" name="to" id="to"><br><br>
        
        <button>Add new Chat</button>
    </form>
</body>
</html>