<% layout("/layouts/boilerpalte.ejs") %>
<div class="row">
    <h1 class="col-6 offset-3"> Signup on NxtStay</h1>
    <div class="col-6 offset-3">
        <form method="POST" action="" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="Username" class="form-label"> Username</label>
        <input name="Username" id="Username" type="text" class="form-control" required> 
        <div class="valid-feedback">
      Looks good!
    </div>

     <div class="mb-3">
            <label for="email" class="form-label"> Email</label>
        <input name="email" id="email" type="text" class="form-control" required> 
       

     <div class="mb-3">
            <label for="password" class="form-label"> Password</label>
        <input name="password" id="password" type="text" class="form-control" required> 
        <div class="valid-feedback">
      Looks good!
    </div>

   <div>
    <button class="btn btn-success mt-4">send</button>
   </div>

</form>
        </div>
        </div>